.app {
  margin: 0 auto;
  background-image: url("../src/assets/images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  height:100vh;
}

footer {
  font-weight: 400;
  position: bottom;
  bottom:0;
  background-color: hsl(0, 0%, 100%);
}





